<style>
    input[type=text] {
      width: 60%;
      padding: 5px 10px;
      margin: 9px 0;
      box-sizing: border-box;
    }

</style>
<h1 class="p-1">SUDOKU</h1>
<form method="post" action="/" class="p-2">
    <table style="width:50%">
      <% (0..8).each do |i|%>
        <tr>
        <% (0..8).each do |j| %>
          <td style="width:50px"><input type="text" name="e<%= i*10+j %>" value="<%= @sudoku[i][j]%>"></td>
        <% end %>
        </tr>
      <% end %>
    </table>
  <div class="p-3">
    <input type="submit" class="btn btn-outline-primary" name='check' value='Check'/>
    <input type="submit" class="btn btn-outline-primary" name='gen' value='Auto-generate'/>
    <input type="submit" class="btn btn-outline-primary" name='solve' value='Auto-solve'/>
  </div>
</form>
