<html>
<head>
  <style>
    input[type=text] {
      width: 60%;
      padding: 10px 15px;
      margin: 9px 0;
      box-sizing: border-box;
    }

  </style>
</head>
<h1>SUDOKU</h1>
<% sudoku = [[1,0,0,0,0,0,0,0,0],
             [0,2,0,0,0,0,0,0,0],
             [0,0,3,0,0,0,0,0,0],
             [0,0,0,4,0,0,0,0,0],
             [0,0,0,0,5,0,0,0,0],
             [0,0,0,0,0,6,0,0,0],
             [0,0,0,0,0,0,7,0,0],
             [0,0,0,0,0,0,0,8,0],
             [0,0,0,0,0,0,0,0,9]] %>
<div>
<table style="width:50%">
  <form method="post">
  <% for i in 0..8 do %>
    <tr >
    <% for j in 0..8 do %>
      <td style="width:50px"><input type="text" name="<%= i*10+j %>" value="<%= sudoku[i][j]%>"></td>
    <% end %>
    </tr>
  <% end %>
  </form>
</table>
</div>
